version: '3.8'

services:
  mysql_db:
    image: mysql:latest
    container_name: rental-mysql-db
    environment:
      MYSQL_DATABASE: rental_db
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_USER: db_user
      MYSQL_PASSWORD: db_password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    restart: always

volumes:
  mysql_data: